body {
  background-image: url("https://i.pinimg.com/originals/98/24/5b/98245b936502bb6abdb2d6f2d58f4e8a.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

p {
  text-align: center;
  color: rgb(250, 228, 201);
  font-size: 68px;
  font-family: "Anton";
}

#searchDoctor {
  color: rgb(250, 228, 201);
  font-size: 40px;
  font-family: "Anton";
  text-align: center;
}

#btn {
  color: darkred;
}

.row {
text-align: center;
}

#output {
  color: rgb(250, 241, 229);
  font-weight: bold;
  font-family: "Anton";
  font-size: 24px;
  background-color: rgb(139,0,0,0.2);
}

